.background-dashboard {
  background-image: url('natia-rukhadze-8cQazCNuzVA-unsplash.jpg');
  background-size: cover;
  height: calc(100vh - 80px);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
