#user {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
#owner {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
#owner h1 {
  text-align: center;
}
#user h1 {
  text-align: center;
}