.margin {
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.marginn {
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}
