.navbar-lewagon {
  justify-content: space-between;
  background-image: url("https://cdn.pixabay.com/photo/2015/02/17/19/42/panoramic-639860_960_720.jpg");
  object-fit: cover;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
