.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 80px;
  text-shadow: 0 0 0.2em #e4dfdf, 0 0 0.2em #2d2d2f, 0 0 0.2em #c7c5d2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 179px;
}
